* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* html, body {
    height: 100%;
  } */
  body {
    background-color: #13161d;
    color: #eee;
    font-family: Helvetica, Arial;
    font-size: 16px;
  }
  
  .hidden {
    display: none;
  }
  
  /** Buttons **/
  .btn {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
  }

  .btn-control {
    background-color: transparent;
    border-radius: 1em;
    border: 0.2em solid #3168a0;
    color: #3168a0;
    cursor: pointer;
    font-size: 14px;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
  }
  
  .btn-control:hover{
    background: #3168a0;
    color: white;
  }

  .btn:hover {
    background: #1ecd97;
    color: #333;
  }
  
  .btn--login {
    margin: 0 auto;
  }
  
  /** Now Playing **/
  .now-playing__name {
    font-size: 18px;
    margin-bottom: 0.2em;
    font-weight: bold;
  }
  
  .now-playing__artist {
    margin-bottom: 0.5em;
  }
  
  .now-playing__status {
    margin-bottom: 1em;
  }
  
  .now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 65%;
  }
  
  .now-playing__img img {
    max-width: 80vmin;
    width: 100%;
  }
  
  .now-playing__side {
    margin-left: 5%;
    width: 80%;
  }
  
  /** Progress **/
  .progress {
    border: 0.15em solid #eee;
    height: 1em;
  }
  
  .progress__bar {
    background-color: #3168a0;
    border: 0.1em solid transparent;
    height: 0.67em;
  }
  
  /** Background **/
  .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(8em) opacity(0.6);
    position: absolute;
  }
  
  .main-wrapper {
    align-items: center;
    display: flex;
    height: 50%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    width: 50%;
    z-index: 1;
  }
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;

    border: 1px solid white;
  }
  
  .main-container {
    flex: 1;
  }

  .controls{
      padding-top:15px;
      text-align: center;
  }

  .data-player{
      padding-top:75px;
      font-size: medium;
  }